html, body{
    height:100%;
}

body{
    background-image: url(../images/currency.jpg);
    background-repeat:no-repeat;
    background-size:cover
}

@media all and (min-width: 750px) {
    .odometer {
        font-size: 100px;
    }
}

#formInputDiv{
    height:40%;
    background-color:#85bb65;
}

#meetingStartedAt, #meetingDuration{
    background-color: #292b2c;
    color: #8bf5a5;
}

#formContainer{
    width: 85%;
    padding-top:15px;
}

.full-height{
    height:100%;
}

#odometer-container{
    height: 60%;
    text-align: center;
}

.odometer .odometer-inside:before {
    content: "$"
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-digital {
    color: #fff !important;
}

.odometer {
    text-align: center;
    text-transform: uppercase;
    background-color: transparent !important;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

.form-group {
    color: white;
    font-size: 20px;
}