@()

@main("Welcome to MoneyMeter") {
  <div class="container-fluid full-height">
    <div class="row justify-content-center align-items-center" id="odometer-container">
        <div class="col-lg-8 col-md-8 col-xs-12">
          <h1><span id="odometer" class="odometer">123</span></h1>
            <h3><span id="meetingStartedAt" class="meetingStartedAt"></span></h3>
            <h3><span id="meetingDuration" class="meetingDuration"></span></h3>
        </div>
    </div>
    <div class="row" id="formInputDiv">
        <div class="container-fluid" id="formContainer">
            <div class="form-group row">
                <label for="noOfMembers" class="col-sm-8 col-md-4 col-lg-4 pull-right">Number of attendees</label>
                <input type="text" class="form-control col-sm-4 col-md-4 col-lg-4" id="noOfMembers" placeholder="Enter attendees count">
            </div>
            <div class="form-group row">
                <label for="costPerMember" class="col-sm-8 col-md-4 col-lg-4 pull-right">Average hourly rate/members in $</label>
                <input type="text" class="form-control col-sm-4 col-md-4 col-lg-4" id="costPerMember" placeholder="Hourly rate $">
            </div>
            <button type="submit" id="startBurn" class="btn btn-primary">Start The Burn</button>
        </div>
    </div>
  </div>
}
